.cart-body h4 {
  text-align: center;
  font-size: 1.4rem;
  text-transform: capitalize;
}
.cart-body {
  position: sticky;
  top: 0;
}
.cart-btn-group {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
}
.cart-btn {
  border: none;
  padding: 10px 20px;
  background-color: rgb(146, 53, 233);
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
}
.cart-btn:hover {
  background-color: rgb(230, 183, 97);
}
@media only screen and (max-width: 600px) {
 .cart-body h4{
   font-size: 1rem;
 }
 .cart-btn-group{
   margin: 20px 5px;
 }
}