.card{
    width: 280px;
    height: 400px;
    box-shadow: 1px 1px 16px 10px rgba(0,0,0,0.15);
    border-radius: 10px;
}
.card-img{
    display: flex;
    justify-content: center;
}
.card-img img{
    width: 230px;
    height: 230px;
}
.card-info{
    padding: 0 20px;
}
.cart-btn{
    border: none;
    padding: 10px 20px;
    background-color: rgb(146, 53, 233);
    border-radius: 25px;
    color:#fff;
    cursor: pointer;
}
.cart-btn:hover{
    background-color: rgb(230, 183, 97);

}